/* Roboto フォント */
.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Zen Maru Gothic */
.zen-maru-gothic-light {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .zen-maru-gothic-medium {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .zen-maru-gothic-bold {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

/* Josefin Sans フォント */
.josefin-sans-font {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* 共通設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Zen Maru Gothic", sans-serif;
    font-style: Medium;
    color: #5E5F65;
    background-color: #ffffff;
    line-height: 1.6;
}


/* メインビジュアル */
.main-visual {
    width: 100%;
    padding: 100px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


/* 固定ヘッダー（右上） */
.site-header {
    position: fixed !important; 
    top: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 15px;
}


/* top内設定 */
.mv-container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    /* 青線 */
    border: 7px solid #7094B3;
    box-sizing: border-box;
    padding:60px;
    display: flex;
    flex-direction: column;
    background-image: url('../images/sky.png');
    background-size: cover;
}


/* 左側グループ */
.mv-left-group {
    height: 100%;
}


/* 右側のグループ */
.mv-right-group {
    display: flex;
    align-items: flex-end; 
    width: 100%;           
    align-self: flex-end;
    text-align: right;
    flex-direction: column;
    gap: 15px;
}

/* PC用レイアウト */
@media (min-width: 1024px) {
    .mv-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .mv-right-group {
        text-align: right;
      
     }
     
   
}


/* ロゴ */
.mv-logo .hukidashi {
    width: 190px;
    margin-bottom: 18px; 
    margin-left: 8px;
}

.mv-logo h1 {
    font-family: "Josefin Sans",sans-serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 0.95;
    letter-spacing: 0.15em; 
    color: #7094B3;
}

/* 文字間調整 */
.mv-logo h1 .tfo-row {
    letter-spacing: 0.25em;
}
.mv-logo h1 .lio-row {
    letter-spacing: 0.365em;
}



/* キャッチフレーズ */
.mv-catchphrase {
    font-size: 20px;
    line-height: 2;
    color: #7094B3;
    text-align: right;
    padding-right: 0;
    letter-spacing: 0.3em;
}


/* 紙飛行機イラスト */
.mv-letter {
    position: static ;
    width: 170px;
}

.mv-letter img {
    width: 95% ;
}


/* わたしのことボタン */
.fixed-about-btn { 
    width: 80px;
    display: block;
    transition: 0.3s;
}

.fixed-about-btn img {
    width: 100%;
}
.fixed-about-btn:hover{
    opacity: 0.8;
}


/* ハンバーガーメニュー */
/* スクロールのしやすさ設定 */
html {
    scroll-behavior: smooth;
}


/*  ハンバーガーメニューのボタン  */
.menu-btn {
    position: static;
    top: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    background: #7094B3; 
    cursor: pointer;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: 0.3s; 
}


/* ボタンの初期状態（3本線） */
.menu-btn span {
    display: block;
    width: 25px;
    height: 2px;
    transition: 0.3s;
    background: #fff;
}


/* ナビゲーションのオーバーレイ設定 */
.nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background:#E6E9EC;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s; 
}

.nav-menu.is-active {
    right: 0;
}

.nav-menu ul {
    list-style: none;
    text-align: center;
}

.nav-menu ul li a {
    display: block;
    padding: 20px;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    background-color: #ffffff; 
    border: 2px;
    border-radius: 2px;
    margin-bottom: 20px;
    text-align: center; 
    transition: 0.3s;
}

.nav-menu ul li a:hover {
    background-color: #f0f4f8; 

}
.menu-btn:hover{
    opacity: 0.8;
}


/* メニューが開いた時の線」 */
.menu-btn.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.menu-btn.active span:nth-child(2) {
    opacity: 0; 
}
.menu-btn.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


/* スクロール */
.mv-scroll {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 30px;             
}

.mv-scroll-down {
    width: 35px;       
}

.scroll-text {
    color: #7094B3;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-top: 210px;
    text-align: center;
}

/* 動くアニメーション */
.mv-scroll {
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}


/* mystory */
.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}


.my-story {
    position: relative;
    padding: 150px 0px;
    background-color: #ffffff;
    overflow: hidden; 
}

/* 円 */
.circle-b {
    position: absolute;
    bottom: -50px;
    left: 10px;
    width: 300px;
    z-index: 0;
}

.circle-y {
    position: absolute;
    top: 10px;
    right: -60px;
    width: 300px;
    z-index: 0;
}


/* 見出しエリア */
.story-header  {
    margin-bottom: 50px;
}

.section-sub,
.section-sub2 {
    font-size: 16px;
    color: #939393;
    margin: 0 0 5px 10px;
    letter-spacing: 0.2em;
}

.title-wrapper,
.title-wrapper2{
    display: flex;
    align-items: nowrap;
    gap: 30px; 
    width: 100%;
}


.section-title,
.section-title2 {
    font-size: 56px;
    font-family: "Josefin Sans", sans-serif;
    color: #939393;
    margin: 0 0 10px 9px;
    white-space: nowrap;
    letter-spacing: 0.03em;
    z-index: 1;
}

.section-line,
.section-line2 {
    height: 3px;
    background-color: #7094B3;
    border-radius: 3px;
    flex-grow: 1; 
    min-width: 50px;
    margin-top: 55px;
    z-index: 1;
}

.section-title .initial{
   color: #7094B3;
}

.section-sub2 {
    color: #7094B3;
}

.section-title2 {
    color: #7094B3;
}

.section-line2 {
    background-color: #939393;
}

.section-title2 .initial-s{
   color: #939393;
}

/* 本文 */
.story-content {
    font-size: 20px;
    line-height: 2;
    position: relative;
    z-index: 2;
}

.last-pass {
    margin-top: 60px;
}

.story-content p {
    margin-bottom: 25px;
}


/* スキルの部分 */
.skill-section {
    background-color: #E6E9EC;
    padding: 50px 0 100px 0;
    width: 100%;
    overflow: hidden;
}

/* カードレイアウト */
.skill-cards { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;  
}

.card {
    background: #ffffff;
    border-radius: 20px;
    margin-top: 30px;
    padding: 30px 40px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    box-sizing: border-box;
    min-width: 0;
}
.card:hover { 
    transform: translateY(-10px); 
}

.card-title {
    background-color: #A0B8D0;
    color: #ffffff;
    padding: 10px 0;
    border-radius: 30px; 
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    width: 100%;  
    display: block;  
    margin-bottom: 20px;
    box-sizing: border-box;
}

.icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-area img { 
    width: 100%; 
    max-width: 250px;
    margin: 20px; 
}

.tech-list { 
    color: #7094B3; 
    font-size: 16px; 
    font-weight: 500; 
    margin: 30px; 
    line-height: 1.6; 
}

.card-description { 
   
    font-size: 14px; 
    line-height: 1.8; 
    text-align: left; 
}


/* 制作実績 */
.works-section{
    padding-top: 50px;
}

/* タグの色分け（カスタマイズ） */
.tag-personal { background-color: #8891B3; }
.tag-client { background-color: #D8B4B0; } 
.tag-school { background-color: #C7B895; } 

/* タグのメタ設定 */
.tag-meta {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    color: white;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 8px;
}


.category { 
    font-size: 12px; 
    margin-bottom: 8px; 
}

.title { 
    font-size: 16px; 
    font-style: normal; 
    margin-left: 2px;
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 35px 30px;
    width: 100%;
}

.works-card {
    color: inherit;
    display: block;
    transition: transform 0.3s ease;
}

/* ホバー時に浮く設定 */
.works-card:hover {
    transform: translateY(-5px); 
    opacity: 0.7;
}

.works-img {
    width: 100%;
    aspect-ratio: 16 / 9; 
    background-color: #ddd;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
}

.works-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* フッター */
.footer {
    background-color: #708CA3; 
    color: #ffffff;
    padding: 100px 20px 30px;
    text-align: center;
    padding-top: 150px 20px 30px;
    clip-path: ellipse(75% 100% at 50% 100%);
    margin-top: 250px;
}

.footer2 {
    background-color: #708CA3; 
    color: #ffffff;
    padding: 20px 20px 30px;
    text-align: center;
}


  
.footer-msg { 
    font-size: 28px;
    font-weight: 300;
    margin-top: 90px;
    margin-bottom: 30px; 
}

.footer-title { 
    font-size: 72px; 
    font-family: "Josefin Sans", sans-serif; 
}

.footer-desc { 
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px; 
}
  
/* メールのボタン部分 */
.mail-link {
    display: inline-block;
    background-color: #ffffff;
    color: #708CA3;
    margin-top: 20px;
    padding: 15px 200px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 20px;
    transition: 0.3s;
}

.mail-link:hover { 
    opacity: 0.9; 
}
.mail-link span { 
    margin-left: 10px; 
}
  
.copyright {
    font-family: Roboto;
    margin-top: 100px;
    font-size: 10px;
    opacity: 0.8;
    margin-bottom: -10px;
}


/* about meページ */
.about-wrapper {
    padding: 0 30px;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #ffffff;
    padding: 45px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.about-header-area {
    background-color: #ffffff;
    padding: 30px 0 15px;
}



.about-profile-area {
    background-color: #C7D8E6;
    padding: 60px 0 ;
}


.name-kanji {
    font-size: 36px;
}

.name-hiragana {
    font-size: 20px;
    margin-bottom: 35px;
}

.profile-text h3 {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    font-weight: 500;
    margin-bottom: 20px;
    color: #848383;
    gap: 15px; 
}

.profile-text p {
    margin-bottom: 20px;
    line-height: 1.8;
}

.photo-img {
    flex: 0 0 300px;
}

.photo-img img {
    width: 100%;
    display: block;
}


.skill-date-area{
    margin-top: 50px ;
    margin-bottom: 100px;
}



.skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.skill-lv {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 30px;
}

.skill-lv img {
    width: 90%;
    display: block;
}


/* 今までのお話 */
.story-area {
    background-color: #E6E9EC;
    padding: 50px 0;
    
}


/* スクロールコンテナ */
.story-scroll-container {
    display: flex;
    gap: 30px; 
    overflow-x: auto;
    padding: 20px;
}


/* カード本体 */
.story-card {
    flex: 0 0 380px;
    background-color: #B4C6D8; 
    padding: 35px;
    border-radius: 20px;
    scroll-snap-align: start;
}

.story-card-2{
    background-color: #ffffff;
}

/* タイトル・サブタイトル */
.story-card h3 {
    font-weight: 500;
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

.story-sub {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 25px;
}

/* イラストの白い箱 */
.illust-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illust-box-2{
    background-color: #E2F2FF;
}

.illust-box img {
    width: 100%;
    display: block;
}

.story-text {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.8;
    word-break: break-all;
}

.story-card-color h3,
.story-card-color .story-sub2,
.story-card-color .section-sub,
.story-card-color .story-text-2{
    color: #5E5F65;
}

.story-text {
    color: #fff;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.story-text:last-child {
    margin-bottom: 0;
}

/* わたしの興味・関心 */
.interest-area {
    padding: 50px 0;
}

.interest-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    margin-top: 35px;
}

/* カード上部の枠線タイトル */
.interest-title {
    border: 2px solid #7094B3;
    color: #7094B3;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

/* イラストの背景エリア */
.interest-illust {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interest-illust img {
    width: 100%;
    border-radius: 20px;
}

/* テキスト部分 */
.interest-text {
    line-height: 1.8;
    font-size: 14px;
    padding: 0 20px;
    margin-bottom: 20px;
}


/* これからのこと */
.future-vision-section {
    padding: 50px 20px 100px;
    background-color: #E6E9EC; 
}

.vision-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1150px;
    margin: 20px auto 0 auto;
}

.vision-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.vision-label {
    display: inline-block;
    background-color: #AFC6DA;
    color: #ffffff;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 25px;
}

.vision-card p {
    font-size: 16px;
    line-height: 2;
    color: #5E5F65;
    margin-bottom: 20px;
}


/* works用CSS */
/*  コンテンツエリア：背景グレー */
.works-detail-content {
    background-color: #E6E9EC;
    padding: 40px 0;
}

.detail-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: stretch;
}

/* 左側エリア */
.detail-left,
.detail-right {
    width: 50%;
    padding: 0 20px; 
    box-sizing: border-box; 
}

.works-main-img img {
    width: 100%; 
    max-width: 450px;
    display: block;
    margin: 80px auto 0 auto;
    height: auto !important;
}

.works-main-img2{
    width: 100%;
    max-width: 450px;
    margin: 20px auto 0 auto;
}

.works-main-img2 img  {
    max-height: 400px;
    display: block;
}

/* 右側エリア */
.detail-right {
    background: #ffffff;
    padding: 10px 35px 35px;
    border-radius: 20px;
    box-sizing: border-box;
}

.spec-box h3 {
    font-size: 18px;
    color: #5E5F65;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 1.5px solid #7094B3;
    display: inline-block;
}

.spec-box p {
    font-size: 16px;
    color: #777;
    line-height: 1.6;
}


/* グーグルスライド設定 */
.process-section {
    padding: 60px 20px;
    background-color: #AFC6DA; 
}
.process-section2 {
    padding: 30px 0;
    background-color: #E6E9EC; 
}

.process-inner {
    max-width: 900px;
    margin: 0 auto;
}

.slide-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;  
    border-radius: 5px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    position: relative;
}

.slide-container iframe {
    width: 100%;
    height: 100%; 
}

.process-caption {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #ffffff;
}

.process-caption2 {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;

}


.product-item img {
    width: 100%;
    display: block;
  }
  
 
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center; 
    margin-top: 30px;
  }
  
.product-item {
        width: calc(33.333% - 16px);
}

/* 2列にする設定 */
.product-item:first-child:nth-last-child(2),
.product-item:first-child:nth-last-child(2) ~ .product-item,
.product-item:first-child:nth-last-child(4),
.product-item:first-child:nth-last-child(4) ~ .product-item {
  width: calc(50% - 12px); 
}

.work-link-wrapper {
    text-align: center;
    margin-top: 40px; 
}

.work-insta-btn {
    font-weight: 400;
    display: inline-block;
    background-color: #708CA3;
    color: #ffffff;
    padding: 14px 40px;
    border-radius: 50px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
  
.work-insta-btn:hover {
    background-color: #5b758b; 
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.space-container {
    height: 60px; 
    width: 100%;
}



  


/* レスポンシブデザイン */
@media (max-width: 1023px) {
    /* 見出しエリア */
    .section-sub,
    .section-sub2 {
        font-size: 14px;
    }

    .title-wrapper,
    .title-wrapper2{
        gap: 15px; 
        width: 100%;
    }

    .section-title,
    .section-title2 {
        font-size: 36px;
    }

    .section-line,
    .section-line2{  
        margin-top: 35px;
    }

    .site-header {
        position: fixed;
        top: 20px;
        right: 20px;
        gap: 10px;
    }

    .main-visual {
        margin-top: 0; 
        padding-top: 90px;
    }

    .mv-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px; 
        gap: 20px;
    }

    /* ロゴサイズ */
    .mv-logo h1 {
        font-size: 72px;
    }
    .mv-logo .hukidashi {
        width: 180px;
        margin-right: 8px;
    }

    /* 文字間 */
    .mv-logo h1 .pro-row{
         margin-left: 10px;  
    }
    .mv-logo h1 .tfo-row {
         margin-left: 23px;
    }
    .mv-logo h1 .lio-row {
         margin-left: 30px;
    }

    /* 要素の並び順 */
    .mv-left-group {
        order: 1; 
        padding-top: 20px;
    }
    .mv-right-group {
        order: 2; 
        align-items: center;
    }

    /* 紙飛行機 */
    .mv-letter {
        width: 190px;
        margin-top: 50px !important;
    }

    .mv-letter img{
        margin: 20px 0  !important;
    }

    /* キャッチコピーの調整 */
    .mv-catchphrase {
        font-size: 16px !important;
        text-align: center !important;
        margin-bottom: 20px !important;
        margin-left: 20px !important;
    }

    /* わたしのこと */
    .fixed-about-btn {
        width: 60px;
    }

    /* ハンバーガーメニューボタン */
    .menu-btn {
        width: 60px; 
        height: 60px;
    }

    .menu-btn span {
        width: 25px;  
        height: 2px; 
    }

    /* スキルセクション */
    .skill-cards {
        grid-template-columns: 1fr;
    }
    .card-description {
        text-align: center!important;
    }

    .card-description { 
        text-align: center; 
    }

    .product-item,
    .product-item:first-child:nth-last-child(n+3),
    .product-item:first-child:nth-last-child(n+3) ~ .product-item {
        width: calc(50% - 12px);
    }

}


@media (max-width: 768px) {
    /* フッター */
    .footer {
        padding-top: 80px;
        margin-top: 100px; 
        clip-path: ellipse(150% 100% at 50% 100%); 
    }

    .footer2 {
        padding: 30px 40px 20px;
        text-align: center;
    }

    .footer-msg { 
        font-size: 18px;
        margin-top: 35px; 
    }

    .footer-title { 
        font-size: 36px;
        margin-bottom: 5px;
    }

    .mail-link {
        padding: 10px 30px;
        width: 80%;
        font-size: 16px;
        margin-bottom: -10px;
    }

    .footer-desc { 
        font-size: 14px;
        font-weight: 300;
    }

    .copyright {
        margin-top: 70px;
    }

    .story-area {
        padding: 30px 0;
    
    }


    .works-detail-content {
        padding: 30px 0;
    }


    .works-grid {
        grid-template-columns: 1fr; 
    }

    .skill-container {
        grid-template-columns: 1fr; 
        margin: 20px; 
        gap: 30px;
    }

    .story-card {
        flex: 0 0 85%; 
        padding: 30px;
    }

    .detail-wrapper {
        flex-direction: column;
    }
    .detail-left, .detail-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .works-main-img img {
        margin: 50px auto;
    }

    .process-section {
        padding: 60px 0;
    }
    .process-caption {
        font-size: 14px;
        margin-top: 20px;
    }

    .product-item,
    .product-item:first-child:nth-last-child(n+3),
    .product-item:first-child:nth-last-child(n+3) ~ .product-item {
        width: 100%;
    }

    .work-insta-btn {
        width: 100%;
        box-sizing: border-box;
        font-size: 15px;
        padding: 14px 20px;
    }

    .vision-card {
        padding: 30px;
        text-align: center;
    }

    .vision-label {
        display: inline-block;
        margin-bottom: 20px;
    }
    
    .vision-card p {
        text-align: left;
    }
    

    .sp-only {
        display: block;
    }

    /* フリガナの余白微調整 */
    .name-hiragana {
        display: block;
        margin-top: 5px;
    }
    
    .profile-text h3 {
        display: block;
        text-align: center;
    }

}




/* スマホ版微調整 */
@media (max-width: 480px) {
    .mv-container {
        margin-top: 10px;
    }
}


/* abouot.htmlのレスポンシブ */
@media screen and (max-width: 1024px) {
    .profile-container {
        flex-direction: column;
        text-align: center;
        padding: 30px;
        gap:0;
    }
    

    .photo-img {
        order: -1;
        width: 250px;
        
    }

    .profile-text {
        width: 100%;
    }
    
    .profile-text h3 {
        flex-direction: column;
        align-items: center;
        gap: 0; 
        margin-bottom: 15px;
    }
    .name-kanji {
        font-size: 32px;
    }

    .name-hiragana {
        font-size: 18px;
        margin-top: 5px;
    }
    
    

}